body {
   padding: 0;
   margin: 10px;
   background-color: rgba(8, 8, 8, 0.664);
}

/* Grid Container*/
.grid {
   margin: 0 auto;
   display: grid;
   max-width: 80%;
   max-height: auto;
   
   
}

.grid-template-areas-1 {
   grid-template-areas:
      "logo nav nav nav "
      "content content content aside"
      "footer footer footer footer"
   ;
   background-color: #c0060677;
   
}

/* GRID AREAS */
.logo {
   grid-area: logo;
   background-color: rgba(153, 114, 114, 0.459);
   float: left;
}

.nav {
   grid-area: nav;
   background-color: rgba(153, 114, 114, 0.459);
   
}

.content {
   grid-area: content; 
   
}

.sidenav {
   grid-area: sidenav;
}

.aside {
   grid-area: aside;
}

.footer {
   grid-area: footer;
}


/* Grid ITEM */
.item {
   margin: 5px;
   /* background: tomato; */
   text-align: center;
   font-size: 1.5em;
}

/* LOGO */
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo>a>img {
   height: 100px;
}

/* Menu  */
nav {
   height: 150px;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   
   
}

nav>ul {
   display: flex;
}

nav>ul>li {
   list-style: none;
   text-decoration: none;
   display: flex;
   height: 40px;
   margin-right: 20px;
}

nav>ul>li>a {
   padding: 10px 10px;
   margin: 0px 10px;
   color: rgba(165, 164, 164, 0.808);
   background-color: #360202cc;
   text-decoration: none;
   font-family: 'Mate SC', serif;
   font-size: 15px;
   border-radius: 5px;
}

nav>ul>li>a:hover {
   background-color: #360202b6;
   color: rgba(247, 104, 104, 0.637);
   font-family: 'Mate SC', serif;
   text-decoration: none;
   padding: 10px 10px;
   margin: 0px 10px;
   font-size: 15px;
   border-radius: 5px;
}

/* MAIN CONTENT */
.content {
   margin-left: 100px;
   width: 800px;
   height: auto;
   margin-top: 20px;
}

.banner {
   border: solid;
   height: 300px;
}

#info {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 5px 0px;
}

.serv {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: rgb(121, 33, 33);
   border: solid;
   margin: 100px 0px;
}

.serv>a {
   color: rgba(143, 141, 141, 0.822);
   text-decoration: none;
   border-radius: 10px;
   padding: 20px 0px;
   font-family: 'Titillium Web', sans-serif;
}

.serv:hover {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: black;
   border: solid rgb(97, 6, 0);
   color: rgba(136, 136, 136, 0.788);
   margin: 5px 0px;
}

.serv>a:hover {
   color: rgba(248, 118, 100, 0.801);
   text-decoration: none;
   border-radius: 10px;
   padding: 20px 0px;
}

/* ASIDE */
.aside {
   border: solid;
}

/* FOOTER */
.footer {
   height: 60px;
   border: solid;
}

@media only screen and (max-width: 600px) {

   /* CONTAINER CONFIGURATION */
   body {
      width: 95%;
      /* min-width: 300px; */
   }

   /* Grid Container*/
   .grid {
      margin: 0 auto;
      display: grid;
      max-width: 100%;
      margin: 0 auto;
      border: 1px solid #ccc;
   }

   .grid-template-areas-1 {
      grid-template-areas:
         "logo logo logo logo "
         "content content content content"
         "aside aside aside aside"
         "footer footer footer footer"
      ;
   }

   /* ========================  */

   /* Grid Item */
   .item {
      margin: 5px;
      background: #c0060677;
      font-size: 14px;
   }

   /* LOGO */
   .logo {
      display: flex;
      justify-content: center;
   }

   img {
      height: 50px;
   }

   /* MENU SOME  */
   nav {
      display: none;
   }

   .sect2{
      height: 125px;
   }
   .serv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: rgb(148, 148, 148);
      border: solid;
      margin: 5px 0px;
   }
   .serv:hover{
      border: solid rgb(148, 148, 148);
   }

   .serv>a {
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(255, 143, 123, 0.822);
      text-decoration: none;
      border-radius: 10px;
      padding: 20px 0px;
   }

   .serv>a:hover {
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(255, 143, 123, 0.822);
      text-decoration: none;
      border-radius: 10px;
      padding: 20px 0px;
   }
}